html{
    font-size: 10px;
    font-family: 'Ubuntu', sans-serif;
}
a{
    text-decoration:none;
}
.title-container{
    min-height:100vh;
    width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
}

#title{
    background-image:url(img/bridge.jpg);
    background-size:cover;
    background-position:top center;
    position:relative;
}
#title::after{
    position:absolute;
    left:0;
    top:0;
    height:100%;
    width:100%;
    background-color:black;
    content:'';
    opacity:0.2;
    z-index:-1;
}
#title h1{
    display:block;
    font-size:3rem;
    position:relative;
    color:white;
}
#title .cta{
    font-size:1.5rem;
    display:inline-block;
    padding:10px 30px;
    color:#4853BB;
    background-color:transparent;
    border:2px solid #4853BB;
    text-transform:uppercase;
    letter-spacing:.1rem;
    margin-top:36px;
    transition:.3s ease background-color;
    transition-property:background-color,color;
}
#title .cta:hover{
    color:white;
    background-color:#4853BB;
}


.overview-container{
    flex-direction:column;
    text-align:center;
    max-width:1500px;
    margin:0 auto;
    padding:100px 0;
}
.overview-title{
    font-size:4rem;
    font-weight:300;
    color:black;
    margin-bottom:10px;
    text-transform:uppercase;
    letter-spacing:.2rem;
    text-align:center;
}
#overview .overview-main p{
    font-size:1.4rem;
    margin-top:5px;
    line-height:2.5rem;
    font-weight:200;
    letter-spacing:.01rem;
}

#overview .motivation h2{
    font-size:4rem;
    font-weight:300;
    color:black;
    margin-bottom:10px;
    text-transform:uppercase;
    letter-spacing:.2rem;
    text-align:center;
}
#overview .motivation p{
    font-size:1.4rem;
    margin-top:5px;
    line-height:2.5rem;
    font-weight:200;
    letter-spacing:.01rem;
}

#tech .tech-container{
    flex-direction:column;
    max-width:1200px;
    margin:0 auto;
    padding:100px 0;
}

#tech .tech-title {
    margin-bottom:50px;
}

#tech .all-tech{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
}

#tech .tech-card{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    width:80%;
    margin:20px auto;
    overflow:hidden;
    border-radius:10px;
}

#tech .tech-info{
    padding:30px;
    flex-basis:50%;
    background-color:white;
    height:100%;
    display:flex;
    align-items:flex-start;
    justify-content:center;
    flex-direction:column;
    background-image: linear-gradient(60deg, #686D8C 0%, #686D8C 100%);
    color:white;
}

#tech .tech-info h1{
    font-size:4rem;
    font-weight:500;
}

#tech .tech-info h2{
    font-size:2rem;
    font-style:italic;
    font-weight:400;
    margin-top:10px;
}

#tech .tech-info p{
    font-size:1.5rem;
}

#tech .tech-img{
    flex-basis:50%;
    height:300px;
    overflow:hidden;
}


#future .innovation-container{
    flex-direction:column-reverse;
    text-align:center;
    max-width:1200px;
    margin:0 auto;
    padding:100px 20px;
}

#future .col-left{
    width:250px;
    height:360;
}
#future .col-right{
    width:100%;
}
#future .col-right h2{
    font-size:2rem;
    font-weight:500;
    letter-spacing:.2rem;
    margin-bottom:10px;
    text-align:center;
    font-style:italic;
}
#future .col-right p{
    margin-bottom:20px;
    font-size:1.8rem;
}

@media (min-width:768px){
    .cta{
        font-size:2.5rem;
        padding:20px 60px;
    }
    h1 .overview-title{
        font-size:7rem;
    }
    #title h1{
        font-size:7rem;
    }
    #tech .tech-container{
        height:400px;
        margin:0;
        width:100%;
        border-radius:0;
    }
    #tech .tech-card .all-tech{
        height:100%;
    }
    #tech .tech-card .tech-img{
        height:100%;
    }
}