body{
    background-color: #B5C1DE;
}

h1 {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-style: italic;
}

p{
    font-family: 'Ubuntu', sans-serif;
    text-align:center;
}
.card{
    background-color: #D4DEED;
}

.bigimg {
    display:flex;
    justify-content:center;
}
